/* exported css for Fish.psd */


* { margin: 0px; padding:0px;}


body {background: hsl(229, 47%, 9%); }


#container {
    margin: 0 auto;
    position: relative;
    padding: 0px;
    width: 400px;
    height: 257px;
    background: #000;
}


.Fish-Background-7 {
    position: absolute;
    top:    0px;
    left:   0px;
    height: 257px;
    width:  400px;
}


.Fish-PurpleFish-6 {
    position: absolute;
    top:    13px;
    left:   11px;
    height: 235px;
    width:  369px;
}


.Fish-RainbowFish-5 {
    position: absolute;
    top:    0px;
    left:   100px;
    height: 257px;
    width:  300px;
}


.Fish-YellowFish-4 {
    position: absolute;
    top:    11px;
    left:   58px;
    height: 246px;
    width:  342px;
}


.Fish-ColorfulFish-3 {
    position: absolute;
    top:    38px;
    left:   18px;
    height: 204px;
    width:  204px;
}


.Fish-SmallBubbles-2 {
    position: absolute;
    top:    0px;
    left:   6px;
    height: 257px;
    width:  394px;
}


.Fish-LiquifiedBubbles-1 {
    position: absolute;
    top:    0px;
    left:   1px;
    height: 257px;
    width:  399px;
}


.Fish-Bubbles-0 {
    position: absolute;
    top:    0px;
    left:   0px;
    height: 257px;
    width:  396px;
}
