/* exported css for bigBuckBunny-squirrel.psd */


* { margin: 0px; padding:0px;}


body {background: hsl(229, 47%, 9%); }


#container {
    margin: 0 auto;
    position: relative;
    padding: 0px;
    width: 640px;
    height: 363px;
    background: #000;
}


.bigBuckBunny-squirrel-sky-4 {
    position: absolute;
    top:    0px;
    left:   0px;
    height: 363px;
    width:  640px;
}


.bigBuckBunny-squirrel-cloud-left-3 {
    position: absolute;
    top:    0px;
    left:   0px;
    height: 131px;
    width:  296px;
}


.bigBuckBunny-squirrel-cloud-right-2 {
    position: absolute;
    top:    155px;
    left:   376px;
    height: 208px;
    width:  264px;
}


.bigBuckBunny-squirrel-tree-1 {
    position: absolute;
    top:    25px;
    left:   0px;
    height: 338px;
    width:  238px;
}


.bigBuckBunny-squirrel-squirrel-0 {
    position: absolute;
    top:    66px;
    left:   194px;
    height: 279px;
    width:  250px;
}
